body {
    margin: 0;
    font-family: 'Nunito Sans';
}
.form-control, .card, .radiusb, .modal-content{
    border-radius: 10px;
}
.modal-header{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

object {
    display: flex;
}
.tablestart{
    border-top-left-radius: 10px;
}
.tableend{
    border-top-right-radius: 10px;
}
.nav-link:hover {
    background-color: #519772;
}
  
#panel {
    flex: 1;
}

.scroll-down-btn {
    position: fixed;
    bottom: 20px;
    left: 95%;
    transform: translateX(-50%);
    z-index: 1000;
}
  
.scroll-down-btn a {
    color: brown;
    font-size: 24px;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    transition: width 0.1s ease;
}
.collapsed-sidebar {
    width: 100px;
    transition: width 0.3s ease;
}

.collapsed-sidebar #sidebar {
    width: 80px;
}

.expanded-sidebar #sidebar {
    width: 240px;
}

.expanded-sidebar #panel {
    margin-left: 240px;
}

.collapsed-sidebar #sidebar .hide-on-collapse {
    display: none;
}

#iconToggle {
    position: relative;
    right: -20px;
    border-radius: 50%;
    padding: 6px;
  }
.sideback{
    background-color: #0f5233;
}
.clsearch::placeholder{
    color:gray;
}

.generalbg{
    background-color: #f0f4f7;
}

.shadowbottom{
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.table th, .table{
    border:none;
}

@media (min-width: 992px) {
    .table-responsive {
        overflow-x: hidden;
    }
}
.deletebtnbg{
    background-color: #ff0000;
}

.deletebg{
    background-color: #00A36C;
}

.viewbg{
    background-color: #00A36C;
}
.editbg{
    background-color: #00A36C;
}
.viewbtn{
    color: #28a745;
    font-size: 20px;
}
.editbtn{
    color: #28a745;
    font-size: 20px;
}
.deletebtn{
    color: #ff0000;
    font-size: 20px;
}
#searchid{
    position: fixed;
    right: 15px;
    top: 2px;
    margin-top: 5px; 
    width: 250px;
}

.searchbutton{
    margin-top: 33px;
}

.cardw{
    width:60%; 
    height:auto;
    border-color: white;
}
.cardlw{
    width:400px;
    height: 300px;
    border:none;
}
.cardl{
    margin-top: 90px;
}
.logos{
    margin-top:120px;
}

.eyeborder{
    padding:10px; 
    border-left:none; 
    border-bottom-left-radius: 0px;  
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;  
    border-top-right-radius: 10px;
} 
.passfield{
    border-right:none; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px;
}
.o{
    background-color: #EF9A3D;
}
.b{
    background-color: #4EB0C5;
}
.r{
    background-color: #D74F45;
}
.g{
    background-color: #6BA866;
}
.orangey{
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
}
.bluey{
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
}
.redy{
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
}
.acase{
    background-color: #EF9A3D;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    position: relative;
    top: -20px;
    margin-left: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.acase:hover{
    background-color: #c77926;
}
.aclient{
    background-color: #4EB0C5;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    position: relative;
    top: -20px;
    margin-left: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.aclient:hover{
    background-color: #1b859c;
}
.aarchived{
    background-color: #D74F45;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    position: relative;
    top: -20px;
    margin-left: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.aarchived:hover{
    background-color: #a1261d;
}
.atransaction{
    background-color: #6BA866;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    position: relative;
    top: -20px;
    margin-left: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.atransaction:hover{
    background-color: #487543;
}
.loginbgimg{
    background-image: url('./images/Loginbackground.jpg'); 
    background-size: cover; 
    background-position: center;
}
.loginbgimg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.blurry-background {
    backdrop-filter: blur(10px);
  }
#datatableid td {  
    padding: 0px;
    vertical-align: middle;
}
.labelconf{
   position: absolute;
   background-color: white !important;
   margin-top: -0.6rem;
   margin-left: 20px;
   font-size: 13px;
   display: none;
}
@media screen and (max-width: 768px) {
    #searchid{
        width: 150px;
        position: relative;
    }
    .searchbutton{
        margin-top: 10px;
        margin-left: 0;
    }
    .cardw{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .logos, .cardl{
        margin-top: 10px;
    }
    .logores{
        width:50px !important;
        height: auto !important;
    }
}
/*view animation*/
@keyframes eye-blink {
    0%, 20%, 40%, 60%, 80%, 100% {
      transform: scaleY(1);
    }
    10%, 90% {
      transform: scaleY(0.5);
    }
    50% {
      transform: scaleY(0.1);
    }
  }
  
  .btn .fa-eye {
    animation: eye-blink 4s ease-in-out infinite;
    transform-origin: center center;
  }
/*delete animation*/
@keyframes trash-shake {
    0%, 100% {
      transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: rotate(-10deg);
    }
    20%, 40%, 60%, 80% {
      transform: rotate(10deg);
    }
  }
  
  .btn .fa-trash {
    animation: trash-shake 5s ease-in-out infinite;
  }
/*edit animation*/
@keyframes pencil-writing {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    75% {
      transform: translateX(2px);
    }
  }
  
  .btn .fa-edit {
    animation: pencil-writing 5s ease-in-out infinite;
  }
  /*.child-item {
    padding-left: 2rem;
  }
  
  #arrowIcon {
    transition: transform 0.3s; 
  }
  
  .open #arrowIcon {
    transform: rotate(180deg);
  }*/
  

